In [2]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [3]:
url = 'http://crawlingstudy-dd3c9.web.app/03/'

In [5]:
res = requests.get(url)

In [9]:
soup = bs(res.text, "html.parser")

In [18]:
result = soup.select('#popularItemList li')

In [111]:
hot_stock=[]
for i in result:
    stock_name = i.select_one('a').text
    stock_price = i.select_one('span').text
    stock_ud = i.select_one('img')['alt']
    print(stock_name, stock_price, stock_ud)
    print('-'*50)
    hot_stock.append([stock_name, stock_price, stock_ud])

써니전자 5,000 상한
--------------------------------------------------
삼성전자 55,200 하락
--------------------------------------------------
안랩 81,000 상승
--------------------------------------------------
케이엠더블.. 57,300 상승
--------------------------------------------------
피피아이 12,600 상한
--------------------------------------------------
KT&G 92,500 하락
--------------------------------------------------
삼성전자우 45,600 상승
--------------------------------------------------
대양금속 10,550 하한
--------------------------------------------------
SK하이닉스 94,700 상승
--------------------------------------------------
SK텔레콤 234,000 하락
--------------------------------------------------

In [112]:
df = pd.DataFrame(data = hot_stock, columns = ['stock_name','stock_price', 'stock_updown'])

In [113]:
df

  stock_name stock_price stock_updown
0       써니전자       5,000           상한
1       삼성전자      55,200           하락
2         안랩      81,000           상승
3    케이엠더블..      57,300           상승
4       피피아이      12,600           상한
5       KT&G      92,500           하락
6      삼성전자우      45,600           상승
7       대양금속      10,550           하한
8     SK하이닉스      94,700           상승
9      SK텔레콤     234,000           하락

In [51]:
url1 = 'http://crawlingstudy-dd3c9.web.app/03/'

In [54]:
res1 = requests.get(url1)

In [55]:
soup1 = bs(res1.text, "html.parser")

In [74]:
stock = soup1.select("ul.lst_major > li")

In [75]:
stock[0]

<li class="up"><a href="https://finance.naver.com/world/sise.nhn?symbol=DJI@DJI&amp;fdtc=0">다우산업</a><span>28,647.43</span><img alt="상한" height="11" src="https://ssl.pstatic.net/static/nfinance/ico_up2.gif" width="7"/></li>

In [115]:
total = []
for q in stock:
    name = q.select_one('a').text
    price = q.select_one('span').text
    link = q.select_one('a')['href']
    updown = q.select_one('img')['alt']
    print(name, price, link, updown)
    total.append({
        "name" : name,
        "price" : price,
        "link" : link,
        "updown" : updown})

다우산업 28,647.43 https://finance.naver.com/world/sise.nhn?symbol=DJI@DJI&fdtc=0 상한
나스닥 9,015.03 https://finance.naver.com/world/sise.nhn?symbol=NAS@IXIC&fdtc=0 상한
홍콩H 11,320.56 https://finance.naver.com/world/sise.nhn?symbol=HSI@HSCE&fdtc=0 상한
상해종합 3,085.20 https://finance.naver.com/world/sise.nhn?symbol=SHS@000001&fdtc=0 상한
니케이225 23,656.62 https://finance.naver.com/world/sise.nhn?symbol=NII@NI225&fdtc=0 하락

In [116]:
df1 = pd.DataFrame(data = total)

In [117]:
df1

     name      price                                               link updown
0    다우산업  28,647.43  https://finance.naver.com/world/sise.nhn?symbo...     상한
1     나스닥   9,015.03  https://finance.naver.com/world/sise.nhn?symbo...     상한
2     홍콩H  11,320.56  https://finance.naver.com/world/sise.nhn?symbo...     상한
3    상해종합   3,085.20  https://finance.naver.com/world/sise.nhn?symbo...     상한
4  니케이225  23,656.62  https://finance.naver.com/world/sise.nhn?symbo...     하락

In [301]:
url2 = "https://crawlingstudy-dd3c9.web.app/03/"

In [302]:
res2 = requests.get(url2)

In [303]:
soup2 = bs(res2.text, "html.parser")

In [320]:
soup2

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<link href="mystyle.css" rel="stylesheet" type="text/css"/>
<title>크롤링 연습사이트 03</title>
</head>
<body>
<div class="title">
        인기검색종목
    </div>
<ul class="lst_pop" id="popularItemList">
<li class="up"><em>1.</em><a href="https://finance.naver.com/item/main.nhn?code=004770">써니전자</a><span>5,000</span><img alt="상한" height="11" src="https://ssl.pstatic.net/static/nfinance/ico_up2.gif" width="7"/></li>
<li class="dn"><em>2.</em><a href="https://finance.naver.com/item/main.nhn?code=005930">삼성전자</a><span>55,200</span><img alt="하락" height="6" src="https://ssl.pstatic.net/static/nfinance/ico_down.gif" width="7"/></li>
<li class="up"><em>3.</em><a href="https://finance.naver.com/item/main.nhn?code=053800">안랩</a><span>81,000</span><img alt="상승" height="6" src="https://ssl.pstatic.net/static/nfinance/ico_up.gif" width="7"/></li>
<li class="up"><em>4.</em><a href="https://finance.naver.com/item/main.nhn?code=032500">케이엠더블..</a><span>57,300</span><img alt="상승" height="6" src="https://ssl.pstatic.net/static/nfinance/ico_up.gif" width="7"/></li>
<li class="up"><em>5.</em><a href="https://finance.naver.com/item/main.nhn?code=062970">피피아이</a><span>12,600</span><img alt="상한" height="11" src="https://ssl.pstatic.net/static/nfinance/ico_up2.gif" width="7"/></li>
<li class="dn"><em>6.</em><a href="https://finance.naver.com/item/main.nhn?code=033780">KT&amp;G</a><span>92,500</span><img alt="하락" height="6" src="https://ssl.pstatic.net/static/nfinance/ico_down.gif" width="7"/></li>
<li class="up"><em>7.</em><a href="https://finance.naver.com/item/main.nhn?code=005935">삼성전자우</a><span>45,600</span><img alt="상승" height="6" src="https://ssl.pstatic.net/static/nfinance/ico_up.gif" width="7"/></li>
<li class="dn"><em>8.</em><a href="https://finance.naver.com/item/main.nhn?code=009190">대양금속</a><span>10,550</span><img alt="하한" height="11" src="https://ssl.pstatic.net/static/nfinance/ico_down2.gif" width="7"/></li>
<li class="up"><em>9.</em><a href="https://finance.naver.com/item/main.nhn?code=000660">SK하이닉스</a><span>94,700</span><img alt="상승" height="6" src="https://ssl.pstatic.net/static/nfinance/ico_up.gif" width="7"/></li>
<li class="dn"><em>10.</em><a href="https://finance.naver.com/item/main.nhn?code=017670">SK텔레콤</a><span>234,000</span><img alt="하락" height="6" src="https://ssl.pstatic.net/static/nfinance/ico_down.gif" width="7"/></li>
</ul>
<div class="title">
        주요해외지수
    </div>
<ul class="lst_major">
<li class="up"><a href="https://finance.naver.com/world/sise.nhn?symbol=DJI@DJI&amp;fdtc=0">다우산업</a><span>28,647.43</span><img alt="상한" height="11" src="https://ssl.pstatic.net/static/nfinance/ico_up2.gif" width="7"/></li>
<li class="up"><a href="https://finance.naver.com/world/sise.nhn?symbol=NAS@IXIC&amp;fdtc=0">나스닥</a><span>9,015.03</span><img alt="상한" height="11" src="https://ssl.pstatic.net/static/nfinance/ico_up2.gif" width="7"/></li>
<li class="up"><a href="https://finance.naver.com/world/sise.nhn?symbol=HSI@HSCE&amp;fdtc=0">홍콩H</a><span>11,320.56</span><img alt="상한" height="11" src="https://ssl.pstatic.net/static/nfinance/ico_up2.gif" width="7"/></li>
<li class="up"><a href="https://finance.naver.com/world/sise.nhn?symbol=SHS@000001&amp;fdtc=0">상해종합</a><span>3,085.20</span><img alt="상한" height="11" src="https://ssl.pstatic.net/static/nfinance/ico_up2.gif" width="7"/></li>
<li class="dn"><a href="https://finance.naver.com/world/sise.nhn?symbol=NII@NI225&amp;fdtc=0">니케이225</a><span>23,656.62</span><img alt="하락" height="6" src="https://ssl.pstatic.net/static/nfinance/ico_down.gif" width="7"/></li>
</ul>
<div class="title">
        분양중
    </div>
<ul class="sale_list _sale_list">
<li class="sale_item">
<div class="sale_box">
<div class="sale_tit">
<a href="#" target="_blank">H하우스장위</a>
</div>
<div class="sale_desc">
<img alt="" class="thumb_img" height="82" src="https://search.pstatic.net/common/?src=https%3A%2F%2Flandthumb-phinf.pstatic.net%2F20200102_216%2Fisale_complex_1577947561833Uclja_JPEG%2Fuploadfile_202001025582218.jpg%3Ftype%3Dm232&amp;type=f82_82_q75" width="82"/>
</div>
<div class="sale_detail">
<dl class="detail_info">
<dt class="tit">보증금</dt><dd class="txt"><strong class="point">16,000</strong> 만원</dd>
<dt class="tit">유형</dt><dd class="txt">아파트<span class="bar">|</span>일반민간임대</dd>
<dt class="tit">규모/면적</dt><dd class="txt">분양 134세대<span class="bar">|</span>45㎡~65㎡</dd>
<dt class="tit">위치</dt> <dd class="txt">서울시 성북구 장위동</dd>
</dl>
</div>
</div>
</li>
<li class="sale_item">
<div class="sale_box">
<div class="sale_tit">
<a href="#" target="_blank">고덕리엔파크2단지 장기전세</a>
</div>
<div class="sale_desc">
<img alt="" class="thumb_img" height="82" src="https://search.pstatic.net/common/?src=https%3A%2F%2Flandthumb-phinf.pstatic.net%2F20110810_136%2Fisale_complex_1312968580369Yxsk9_JPEG%2Fuploadfile_201103075773845.jpg%3Ftype%3Dm232&amp;type=f82_82_q75" width="82"/>
</div>
<div class="sale_detail">
<dl class="detail_info">
<dt class="tit">보증금</dt><dd class="txt"><strong class="point">38,400</strong> 만원</dd>
<dt class="tit">유형</dt><dd class="txt">아파트<span class="bar">|</span>장기전세주택</dd>
<dt class="tit">규모/면적</dt><dd class="txt">분양 1세대<span class="bar">|</span>149㎡</dd>
<dt class="tit">위치</dt> <dd class="txt">서울시 강동구 강일동</dd>
</dl>
</div>
</div>
</li>
<li class="sale_item">
<div class="sale_box">
<div class="sale_tit">
<a href="#" target="_blank">신정이펜하우스3단지 장기전세</a>
</div>
<div class="sale_desc">
<img alt="" class="thumb_img" height="82" src="https://search.pstatic.net/common/?src=https%3A%2F%2Flandthumb-phinf.pstatic.net%2F20110810_260%2Fisale_complex_1312968335794i6pKe_JPEG%2Fuploadfile_201102243825127.jpg%3Ftype%3Dm232&amp;type=f82_82_q75" width="82"/>
</div>
<div class="sale_detail">
<dl class="detail_info">
<dt class="tit">보증금</dt><dd class="txt"><strong class="point">39,040</strong> 만원</dd>
<dt class="tit">유형</dt><dd class="txt">아파트<span class="bar">|</span>장기전세주택</dd>
<dt class="tit">규모/면적</dt><dd class="txt">분양 1세대<span class="bar">|</span>148㎡</dd>
<dt class="tit">위치</dt> <dd class="txt">서울시 양천구 신정동</dd>
</dl>
</div>
</div>
</li>
<li class="sale_item">
<div class="sale_box">
<div class="sale_tit">
<a href="#" target="_blank">천왕이펜하우스2단지 장기전세</a>
</div>
<div class="sale_desc">
<img alt="" class="thumb_img" height="82" src="https://search.pstatic.net/common/?src=https%3A%2F%2Flandthumb-phinf.pstatic.net%2F20110810_35%2Fisale_complex_1312968350479SO2pI_JPEG%2Fuploadfile_201102244996257.jpg%3Ftype%3Dm232&amp;type=f82_82_q75" width="82"/>
</div>
<div class="sale_detail">
<dl class="detail_info">
<dt class="tit">보증금</dt><dd class="txt"><strong class="point">38,240</strong> 만원</dd>
<dt class="tit">유형</dt><dd class="txt">아파트<span class="bar">|</span>장기전세주택</dd>
<dt class="tit">규모/면적</dt><dd class="txt">분양 1세대<span class="bar">|</span>142㎡</dd>
<dt class="tit">위치</dt> <dd class="txt">서울시 구로구 오류동</dd>
</dl>
</div>
</div>
</li>
<li class="sale_item">
<div class="sale_box">
<div class="sale_tit">
<a href="#" target="_blank">송파파크데일2단지 장기전세</a>
</div>
<div class="sale_desc">
<img alt="" class="thumb_img" height="82" src="https://search.pstatic.net/common/?src=https%3A%2F%2Flandthumb-phinf.pstatic.net%2F20110810_211%2Fisale_complex_1312968571650Iusoz_JPEG%2Fuploadfile_201103074989552.jpg%3Ftype%3Dm232&amp;type=f82_82_q75" width="82"/>
</div>
<div class="sale_detail">
<dl class="detail_info">
<dt class="tit">보증금</dt><dd class="txt"><strong class="point">45,600</strong> 만원</dd>
<dt class="tit">유형</dt><dd class="txt">아파트<span class="bar">|</span>장기전세주택</dd>
<dt class="tit">규모/면적</dt><dd class="txt">분양 1세대<span class="bar">|</span>150㎡</dd>
<dt class="tit">위치</dt> <dd class="txt">서울시 송파구 마천동</dd>
</dl>
</div>
</div>
</li>
</ul></body>
</html>

In [360]:
result2 = soup2.select('div.sale_box >div')

In [387]:
result2

[<div class="sale_tit">
 <a href="#" target="_blank">H하우스장위</a>
 </div>,
 <div class="sale_desc">
 <img alt="" class="thumb_img" height="82" src="https://search.pstatic.net/common/?src=https%3A%2F%2Flandthumb-phinf.pstatic.net%2F20200102_216%2Fisale_complex_1577947561833Uclja_JPEG%2Fuploadfile_202001025582218.jpg%3Ftype%3Dm232&amp;type=f82_82_q75" width="82"/>
 </div>,
 <div class="sale_detail">
 <dl class="detail_info">
 <dt class="tit">보증금</dt><dd class="txt"><strong class="point">16,000</strong> 만원</dd>
 <dt class="tit">유형</dt><dd class="txt">아파트<span class="bar">|</span>일반민간임대</dd>
 <dt class="tit">규모/면적</dt><dd class="txt">분양 134세대<span class="bar">|</span>45㎡~65㎡</dd>
 <dt class="tit">위치</dt> <dd class="txt">서울시 성북구 장위동</dd>
 </dl>
 </div>,
 <div class="sale_tit">
 <a href="#" target="_blank">고덕리엔파크2단지 장기전세</a>
 </div>,
 <div class="sale_desc">
 <img alt="" class="thumb_img" height="82" src="https://search.pstatic.net/common/?src=https%3A%2F%2Flandthumb-phinf.pstatic.net%2F20110810_136%2Fisale_complex_1312968580369Yxsk9_JPEG%2Fuploadfile_201103075773845.jpg%3Ftype%3Dm232&amp;type=f82_82_q75" width="82"/>
 </div>,
 <div class="sale_detail">
 <dl class="detail_info">
 <dt class="tit">보증금</dt><dd class="txt"><strong class="point">38,400</strong> 만원</dd>
 <dt class="tit">유형</dt><dd class="txt">아파트<span class="bar">|</span>장기전세주택</dd>
 <dt class="tit">규모/면적</dt><dd class="txt">분양 1세대<span class="bar">|</span>149㎡</dd>
 <dt class="tit">위치</dt> <dd class="txt">서울시 강동구 강일동</dd>
 </dl>
 </div>,
 <div class="sale_tit">
 <a href="#" target="_blank">신정이펜하우스3단지 장기전세</a>
 </div>,
 <div class="sale_desc">
 <img alt="" class="thumb_img" height="82" src="https://search.pstatic.net/common/?src=https%3A%2F%2Flandthumb-phinf.pstatic.net%2F20110810_260%2Fisale_complex_1312968335794i6pKe_JPEG%2Fuploadfile_201102243825127.jpg%3Ftype%3Dm232&amp;type=f82_82_q75" width="82"/>
 </div>,
 <div class="sale_detail">
 <dl class="detail_info">
 <dt class="tit">보증금</dt><dd class="txt"><strong class="point">39,040</strong> 만원</dd>
 <dt class="tit">유형</dt><dd class="txt">아파트<span class="bar">|</span>장기전세주택</dd>
 <dt class="tit">규모/면적</dt><dd class="txt">분양 1세대<span class="bar">|</span>148㎡</dd>
 <dt class="tit">위치</dt> <dd class="txt">서울시 양천구 신정동</dd>
 </dl>
 </div>,
 <div class="sale_tit">
 <a href="#" target="_blank">천왕이펜하우스2단지 장기전세</a>
 </div>,
 <div class="sale_desc">
 <img alt="" class="thumb_img" height="82" src="https://search.pstatic.net/common/?src=https%3A%2F%2Flandthumb-phinf.pstatic.net%2F20110810_35%2Fisale_complex_1312968350479SO2pI_JPEG%2Fuploadfile_201102244996257.jpg%3Ftype%3Dm232&amp;type=f82_82_q75" width="82"/>
 </div>,
 <div class="sale_detail">
 <dl class="detail_info">
 <dt class="tit">보증금</dt><dd class="txt"><strong class="point">38,240</strong> 만원</dd>
 <dt class="tit">유형</dt><dd class="txt">아파트<span class="bar">|</span>장기전세주택</dd>
 <dt class="tit">규모/면적</dt><dd class="txt">분양 1세대<span class="bar">|</span>142㎡</dd>
 <dt class="tit">위치</dt> <dd class="txt">서울시 구로구 오류동</dd>
 </dl>
 </div>,
 <div class="sale_tit">
 <a href="#" target="_blank">송파파크데일2단지 장기전세</a>
 </div>,
 <div class="sale_desc">
 <img alt="" class="thumb_img" height="82" src="https://search.pstatic.net/common/?src=https%3A%2F%2Flandthumb-phinf.pstatic.net%2F20110810_211%2Fisale_complex_1312968571650Iusoz_JPEG%2Fuploadfile_201103074989552.jpg%3Ftype%3Dm232&amp;type=f82_82_q75" width="82"/>
 </div>,
 <div class="sale_detail">
 <dl class="detail_info">
 <dt class="tit">보증금</dt><dd class="txt"><strong class="point">45,600</strong> 만원</dd>
 <dt class="tit">유형</dt><dd class="txt">아파트<span class="bar">|</span>장기전세주택</dd>
 <dt class="tit">규모/면적</dt><dd class="txt">분양 1세대<span class="bar">|</span>150㎡</dd>
 <dt class="tit">위치</dt> <dd class="txt">서울시 송파구 마천동</dd>
 </dl>
 </div>]

In [311]:
for a in result2:
    head = soup2.select('div.sale_tit')
    price = a.select_one('.detail_info tit')[0].text
    sort = a.select_one('.detail_info tit')[1].text
    size = a.select_one('.detail_info tit')[2].text
    position = a.select_one('.detail_info tit')[3].text
    print(head, price, sort,size,position)

TypeError: 'NoneType' object is not subscriptable