In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('C:/csv_file/서울교통공사_권종별 승차인원_20220831.csv',encoding = 'cp949')

In [5]:
data

          연번  호선  고유역번호(외부역코드)        역명     수송연월   권종   승차인원수
0          1   1           150    서울역(1)  2022-01   선불  228131
1          2   1           151     시청(1)  2022-01   선불  103592
2          3   1           152        종각  2022-01   선불  177559
3          4   1           153   종로3가(1)  2022-01   선불   94034
4          5   1           154      종로5가  2022-01   선불   82217
...      ...  ..           ...       ...      ...  ...     ...
13675  13676   9          4134      송파나루  2022-08  단체권       0
13676  13677   9          4135      한성백제  2022-08  단체권       0
13677  13678   9          4136  올림픽공원(9)  2022-08  단체권       0
13678  13679   9          4137      둔촌오륜  2022-08  단체권       0
13679  13680   9          4138    중앙보훈병원  2022-08  단체권       0

[13680 rows x 7 columns]

In [6]:
data['권종'].value_counts()

선불     2280
후불     2280
정기권    2280
우대권    2280
1회권    2280
단체권    2280
Name: 권종, dtype: int64

In [7]:
data['권종'].value_counts()

선불     2280
후불     2280
정기권    2280
우대권    2280
1회권    2280
단체권    2280
Name: 권종, dtype: int64

In [8]:
data = data.drop(columns=['연번','고유역번호(외부역코드)'],axis = 1)

In [9]:
line1 = data.groupby('호선').get_group(1)
line1_gr = line1.groupby('역명')['승차인원수'].sum()

In [10]:
line1_gr.sort_values(ascending = False)

역명
서울역(1)     9649348
종각         7127607
종로3가(1)    5562794
종로5가       4796505
시청(1)      4563045
청량리        4396890
제기동        3728792
신설동(1)     2908405
동대문(1)     2507123
동묘앞(1)     2081686
Name: 승차인원수, dtype: int64

In [11]:
line1_gr.sort_values(ascending = False)

역명
서울역(1)     9649348
종각         7127607
종로3가(1)    5562794
종로5가       4796505
시청(1)      4563045
청량리        4396890
제기동        3728792
신설동(1)     2908405
동대문(1)     2507123
동묘앞(1)     2081686
Name: 승차인원수, dtype: int64