In [1]:
import pymysql

In [12]:
db = pymysql.connect(host = 'localhost', port=3306,
user = 'root', passwd = 'dbwls4343*',
db = 'pydb', charset='utf8')

In [13]:
cursor = db.cursor()

In [14]:
sql = '''
    CREATE TABLE python (
        name varchar(20) NOT NULL,
        math INT NULL,
        science INT NULL,
        PRIMARY KEY (name)
    )
'''

In [15]:
cursor.execute(sql)
db.commit()

OperationalError: (1050, "Table 'python' already exists")

In [16]:
sql = '''
    INSERT INTO python
    VALUES ('김유진', 80, 90)
'''

In [17]:
cursor.execute(sql)
db.commit()

In [18]:
sql = '''
    SELECT *
    FROM python
'''

In [19]:
cursor.execute(sql)
rs = cursor.fetchall()

In [20]:
print(type(rs))
print(len(rs))
print(rs)

<class 'tuple'>
4
(('김겨울', 65, 98), ('김유진', 80, 90), ('우영우', 98, 100), ('장그래', 88, 75))

In [21]:
sql = '''
INSERT INTO python VALUES
('김정민',90,20),
('김밍밍',40,43),
('김둥이',65,80)
'''

In [22]:
cursor.execute(sql)
db.commit()

In [23]:
sql = '''SELECT * FROM python'''

cursor.execute(sql)
rs = cursor.fetchall()

print(type(rs))
print(len(rs))
print(rs)

print(rs[1])
print(rs[2])

<class 'tuple'>
7
(('김겨울', 65, 98), ('김둥이', 65, 80), ('김밍밍', 40, 43), ('김유진', 80, 90), ('김정민', 90, 20), ('우영우', 98, 100), ('장그래', 88, 75))
('김둥이', 65, 80)
('김밍밍', 40, 43)

In [24]:
sql = '''
DELETE FROM python
WHERE name = '김겨울'
'''

cursor.execute(sql)
db.commit()

In [25]:
sql = '''
SELECT * 
FROM python
'''

cursor.execute(sql)
rs = cursor.fetchall()

In [26]:
rs

(('김둥이', 65, 80),
 ('김밍밍', 40, 43),
 ('김유진', 80, 90),
 ('김정민', 90, 20),
 ('우영우', 98, 100),
 ('장그래', 88, 75))

In [27]:
cursor.close()
db.close()